mixin browser-item(data)
  article(mih="396" pad="24-0@-md" flex="jc:ce ai:ce fd:co" wdh="100%@md" hgt="100vh@md" class=data.browser).browsers__item
    header(flex="jc:ce ai:ce fd:cor" marb="24 54@md")
      h2.title=data.title
      .browsers__item__logo(marb="15 16@md")
        img(src="images/browser/" + data.browser + ".svg" wdh="50 80@md" hgt="50 80@md").browsers__item__logo__base
        img(src="images/browser/" + data.browser + "-color.svg" wdh="50 80@md" hgt="50 80@md").browsers__item__logo__hover

    p(marb="24@-md" flex="jc:ce ai:ce fd:co or:-1").browsers__item__percentage
      span.browsers__item__percentage__number(marb="8 9@md")=data.percentage
      span.title(flex="jc:ce ai:ce fd:co") people are using
        br
        | this browser

    .browsers__item__download(marb="30@-md" flex="jc:ce ai:ce fd:co" wdh="100%")
      a(href=data.download cols="9" flex="jc:ce ai:ce" marb="12" mxw="180 152@md" download).title.browsers__item__download__btn Download
      span.browsers__item__version=data.version

    .browsers__item__sos(flex="jc:ce ai:ce fd:co" wdh="120")
      span.title(marb="12") Available on
      ul(flex="jc:ce ai:ce" wdh="100%")
        if data.browser !== 'safari'
          li(flex="jc:ce ai:ce" wdh="24" hgt="24")
            a(href="https://es.wikipedia.org/wiki/Microsoft_Windows" target="_blank" flex="jc:ce ai:ce")
              img(src="images/so/windows.svg" wdh="21" alt="Windows")

        if data.browser !== 'iexplorer'
          li(flex="jc:ce ai:ce" wdh="24" hgt="24" marl=(data.browser !== 'safari' ? 21 : false))
            a(href="https://es.wikipedia.org/wiki/Mac_OS" target="_blank" flex="jc:ce ai:ce")
              img(src="images/so/apple.svg" alt="Mac OS")

        if data.browser !== 'safari' && data.browser !== 'iexplorer'
          li(flex="jc:ce ai:ce" wdh="24" hgt="24" marl="21")
            a(href="https://es.wikipedia.org/wiki/GNU/Linux" target="_blank" flex="jc:ce ai:ce")
              img(src="images/so/linux.svg" alt="Linux")
